    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container">
		</div>
		
		<div class="main-container">
		<section class="pure-text-centered">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<span class="sub alt-font"> </span>
							<h1><strong>This heading requires a little emphasis</strong></h1>
							<p class="lead">
								At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
							</p>
						</div>
					</div>
		
				</div>
			</section>
			
			<section class="team-1">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1>About Our Team</h1>
						</div>
					</div>
					
					<div class="row space-bottom-large">
						<div class="col-sm-4">
							<div class="team-1-member">
								<img alt="Team Member" src="img/team-small-1.png ">
								<h2>Wesley Joiner, CWS</h2>
								<h5>President and Founder</h5>
								<p class="space-top-small">
									Founder of iMaximize Social Security. Leads management team and coordinates operational leadership. Institutional client relationship manager. Prior experience in banking and investment management.</p>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="team-1-member">
								<img alt="Team Member" src="img/team-small-3.png ">
								<h2>William Joiner, CWS</h2>
								<h5>CFO</h5>
								<p class="space-top-small">Co-Founder of iMaximize Social Security. Mr.Joiner brings over 20 years of experience in the independent advisory space. William provides leadership to iMaximize Advisory service team and assist in the coordination of strategic objectives.</p>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="team-1-member">
								<img alt="Team Member" src="img/team-small-5.png ">
								<h2>Frank Mann, CPA, MAcc</h2>
								<h5>CPA</h5>
								<p class="space-top-small">
									Frank servs as iMaximize CFO. Mr. Mann has prior experience in Audit Accounting for Fortune 400 firms and provides financial leadership to iMaximize. Mr.Mann has specific experience in company valuation and pricing.</p>
							</div>
						</div>
						
		
					</div>
					
					
					
				</div>
			</section>
			
			<section class="team-1">
				<div class="container">
					
					
					<div class="row space-bottom-large">
						<div class="col-sm-4">
							<div class="team-1-member">
								<img alt="Team Member" src="img/team-small-1.png ">
								<h2>Mary Ellyse Fendig</h2>
								<h5>Executive Assistant</h5>
								<p class="space-top-small">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								</p>
							</div>
						</div>
						
						
						
						
						
		
					</div>
					
					
					
				</div>
			</section>
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<i class="icon icon-jumbo social_twitter"></i>
							<div id="tweets" data-widget-id="492085717044981760">
							
							</div>
							<p>
								Follow us <strong><a href="#">@i</a>maxsocsec</strong> for more awesome updates
							</p>
						</div>
					</div>
				</div>
			</section>
		</div>
		
		<div class="footer-container">