<div class="container-fluid">
<div class="nav-container">
</div>
<div class="main-container">
<header class="page-header">
<div class="background-image-holder parallax-background">
<img src="<%= asset_path("hero14.jpg") %>" alt="#">
</div>
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 class="text-white space-bottom-medium">Maximize Social Security Benefits Now<br>with our Leading iMaximize Calculator<br><br><div>The average user finds an additional $100,000</div><div>in benefits in less than 5 minutes.</div></h1>
<a href="#" class="btn btn-primary btn-filled">Get Started</a>
</div>
</div>
</div>
</header>
<section class="text-banner">
<div class="container text-center">
<div class="row">
<div class="col-sm-12">
<h1 class="center-block">Take a quick look to see how iMaximize gets you more benefits.</h1>
</div>
</div>
<div class="row">
<div class="col-md-12">
<a href="#" class="btn btn-primary">Watch now</a>
</div>
</div>
</div>
</section>
<section class="no-pad clearfix">
<div class="col-md-4 col-sm-6 no-pad">
<div class="feature-box bg-primary">
<h1 class="text-white">STEP 1:<div><br></div><div>Get Your Free Summary</div></h1>
<p class="text-white">
We provide a free analysis to help determine how much extra benefits we can get you. We tell you how or if we can help you before you buy anything.&nbsp;</p>
<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
</div>
</div>
<div class="col-sm-6 no-pad col-md-4">
<div class="feature-box bg-secondary-1">
<h1 class="text-white">STEP 2:<div><br></div><div>Get Your Detailed Report</div></h1>
<p class="text-white">
Once you receive a your free summary, you have the option to purchase your custom report. Our report steps your through your best strategy in plain English.&nbsp;</p>
<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
</div>
</div>
<div class="col-md-4 col-sm-6 no-pad">
<div class="feature-box bg-muted">
<h1>STEP 3:<div><br></div><div>Talk to an iMaximize Advisor</div></h1>
<p>
Many times you just want to talk to an expert about what you should do. Our experts can answer all of your Social Security Questions and even help you file for benefits.</p>
<a href="#" class="btn btn-primary">Tell Me More</a>
</div>
</div>
</section>
<section class="pricing-2">
<div class="container">
<div class="row text-center">
<h1>Compare features of<br>our popular pricing plans</h1>
</div>
<div class="row pricing-tables">
<div class="col-md-3 no-pad-right hidden-sm">
<div class="pricing-table feature-list">
<ul class="features">
<li><strong>Free&nbsp;</strong></li>
<li><strong>Determine if We Can Help</strong></li>
<li><strong>Unique Logins</strong></li>
<li><strong>Offsite Backup</strong></li>
<li><strong>Support Hours</strong></li>
<li><strong>Bandwidth</strong></li>
</ul>
</div>
</div>
<div class="col-md-3 no-pad hidden-sm">
<div class="pricing-table">
<ul class="features">
<li><span>Starter</span></li>
<li><strong>100</strong>GB</li>
<li><strong>200</strong>Users</li>
<li><strong>No Backup</strong></li>
<li><strong>Standard Support</strong></li>
<li><strong>20</strong>GB</li>
</ul>
<div class="price">
<span class="sub">$</span>
<span class="amount">50 </span>
<span class="sub"> </span>
</div>
<a href="#" class="btn btn-primary">Sign Me Up</a>
</div>
</div>
<div class="col-md-3 no-pad hidden-sm">
<div class="pricing-table emphasis">
<ul class="features">
<li>Premium</li>
<li><strong>200</strong>GB</li>
<li><strong>400</strong>Users</li>
<li><strong>2TB</strong></li>
<li><strong>Standard Support</strong></li>
<li><strong>40</strong>GB</li>
</ul>
<div class="price">
<span class="sub">$</span>
<span class="amount">110&nbsp;</span>
<span class="sub"> </span>
</div>
<a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
</div>
</div>
<div class="col-md-3 no-pad-left hidden-sm">
<div class="pricing-table">
<ul class="features">
<li><strong>Ultimate</strong></li>
<li><strong>400</strong>GB</li>
<li><strong>800</strong>Users</li>
<li><strong>4TB</strong></li>
<li><strong>24/7</strong></li>
<li><span>Filling Assistance</span></li>
</ul>
<div class="price">
<span class="sub">$</span>
<span class="amount">230</span>
<span class="sub"> </span>
</div>
<a href="#" class="btn btn-primary">Sign Me Up</a>
</div>
</div>
</div>
</div>
</section>


<section class="bg-primary">
<div class="container">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<div class="testimonials-slider text-center">
 <div class="carousel slide" id="myCarousel" data-ride="carousel" data-interval="3000">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
<div class="carousel-inner">
<div class="item active">
<ul class="slides">
<li>
<p class="text-white lead">"Pivot is hands down the most flexible and enjoyable HTML template I've ever used. I was a startup framework die-hard but now my eyes have been opened to the sheer power of Variant page builder, I won't be going back!" <br></p>
<span class="author text-white">Louise Duke - Mother Goose</span>
</li>
</div>

 <div class="item">
<li>
<p class="text-white lead">"I was getting fed up with the hassle of setting up bloated WordPress themes. Luckily I've now found Pivot with Variant. Building pages in real-time without a CMS gives me all the power and flexibility I could want." <br></p>
<span class="author text-white">Elizabeth Atkinson - Shapewear Australia</span>
</li>
</div>
<div class="item">
<li>
<p class="text-white lead">"The plethora of content blocks available in Pivot has made it my go-to template of choice. I've already used it for a number of clients - all of which have been thrilled with the outcome. Well done Medium Rare!"</p> <br>
<span class="author text-white">Toby Whittaker - Design Dojo</span>
</li>
</div>
 
</ul>
</div>
</div>
</div>
</div>
</div>
</div>


</section>
<section class="duplicatable-content">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h1>The iMaximize Calculator Can Tackle Any Situation</h1>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<div class="feature feature-icon-large">
<div class="pull-left">
<i class="icon icon-genius"></i>
</div>
<div class="pull-right">
<h5>Single, Married, Divorced and Widowed</h5>
<p>
Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
</p>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="feature feature-icon-large">
<div class="pull-left">
<i class="icon icon-linegraph"></i>
</div>
<div class="pull-right">
<h5>Early, Delayed, and Already Filed Calculations</h5>
<p>
Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
</p>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="feature feature-icon-large">
<div class="pull-left">
<i class="icon icon-tools-2"></i>
</div>
<div class="pull-right">
<h5>Comprehensively Calculates Strategies for people with Government Pensions</h5>
<p>
Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
</p>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="feature feature-icon-large">
<div class="pull-left">
<i class="icon icon-desktop"></i>
</div>
<div class="pull-right">
<h5>Precision built to fine tune to your needs</h5>
<p>
Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="strip bg-secondary-1">
<div class="container">
<div class="row clearfix">
<div class="col-sm-6 col-xs-12 pull-left">
<h3 class="text-white"><strong>Take the next 5 minutes to see what iMaximize can do for you.</strong>&nbsp;</h3>
</div>
<div class="col-sm-4 col-xs-12 pull-right text-right">
<a href="#" class="btn btn-primary btn-white">Get STarted</a>
</div>
</div>
</div>
</section>
</div>
</div>
