<b>Privacy Policy</b>

Last modified: December 20, 2013

The iMaximize Social Security tool, app and website are owned you Fibertech Enterprises LLC, a Georgia corporation. Any agreements are made with Fibertech Enterprises LLC.

As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy.

Our Privacy Policy explains:
<ul>
	<li>What information we collect and why we collect it.</li>
	<li>How we use that information.</li>
	<li>The choices we offer, including how to access and update information.</li>
</ul>
<b>Information we collect</b>

We collect information to provide better services to all of our users. We collect information in two ways:
<ul>
	<li><b>Information you give us.</b> For example, when you sign up for an iMaximize Social Security Account. When you do, we’ll ask for limited personal information, like your name, email address, zip code, and other basic personal information.</li>
	<li><b>Information we get from your use of our services.</b>
<ul>
	<li><b>Device information</b></li>
</ul>
</li>
</ul>
We may collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information including phone number). FTE may associate your device identifiers or phone number with your iMaximize Social Security Account.
<ul>
<ul>
	<li><b>Log information</b></li>
</ul>
</ul>
When you use our services or view content provided by iMaximize, we may automatically collect and securely store certain information in server logs. This may include:
<ul>
<ul>
<ul>
	<li>details of how you used our service, such as your search queries.</li>
	<li>Internet protocol address.</li>
	<li>device event information such as crashes, system activity, hardware settings, browser type, browser language, the date and time of your request and referral URL.</li>
	<li>User supplied information entered into the tool</li>
	<li>cookies that may uniquely identify your browser or your iMaximize Social Security Account.</li>
</ul>
	<li>Unique application numbers</li>
</ul>
</ul>
Certain services include a unique application number. This number and information about your installation (for example, the operating system type and application version number) may be sent to iMaximize when you install or uninstall that service or when that service periodically contacts our servers, such as for automatic updates.
<ul>
<ul>
	<li><b>Local storage</b></li>
</ul>
</ul>
We may collect and store information (including personal information) locally on your device using mechanisms such as browser web storage (including HTML 5) and application data caches.
<ul>
<ul>
	<li><b>Cookies and anonymous identifiers</b></li>
</ul>
</ul>
We use various technologies to collect and store information when you visit a iMaximize service, and this may include sending one or more cookies or anonymous information to your device.

<b>How we use information we collect</b>

We use the information we collect from all of our services to provide, maintain, protect and improve them, and to develop new ones. We also use this information to offer you tailored content – like giving you more relevant information and ads. Sometimes iMaximize will contract with financial professionals to help us provide an enhanced level of service. We may, at our discretion, provide these professionals with information collected using the iMaximize Social Security tool. You may opt out of this enhanced service by contacting us at <a href="mailto:support@imaximiuzeSS.com">support@imaximiuzeSS.com</a>.

When you contact iMaximize Social Security, we may keep a record of your communication to help solve any issues you might be facing. We may use your email address to inform you about our services, such as letting you know about upcoming changes or improvements.

We will always ask for your consent before using information for a purpose other than those that are set out in this Privacy Policy.

<b>Accessing and updating your personal information</b>

Whenever you use our services, we aim to provide you with access to your personal information. If that information is wrong, we strive to give you ways to update it quickly or to delete it – unless we have to keep that information for legitimate business or legal purposes. When updating your personal information, we may ask you to verify your identity before we can act on your request.

We may reject requests that are unreasonably repetitive, require disproportionate technical effort (for example, developing a new system or fundamentally changing an existing practice), risk the privacy of others, or would be extremely impractical (for instance, requests concerning information residing on backup tapes).

Where we can provide information access and correction, we will do so for free, except where it would require a disproportionate effort. We aim to maintain our services in a manner that protects information from accidental or malicious destruction. Because of this, after you delete information from our services, we may not immediately delete residual copies from our active servers and may not remove information from our backup systems.

<b>Information we share</b>

We do not share personal information with companies, organizations and individuals outside of iMaximize Social Security unless one of the following circumstances apply:
<ul>
	<li><b>With your contracted financial professionals</b></li>
</ul>
We will share personal information with certain financial professionals, in which we have contracted with. Our contracted financial professionals help us provide and enhanced level of service to iMaximize users. All contracted professionals agree to follow iMaximize’s privacy policy, code of ethics, and code of business practices. You may opt out of this enhanced service by contacting us at <a href="mailto:support@imaximiuzeSS.com">support@imaximiuzeSS.com</a>.
<ul>
	<li><b>With domain administrators</b></li>
</ul>
If your iMaximize Social Security Account is managed for you by a domain administrators (for example, for iMaximize Social Security Apps users) then your domain administrator and resellers who provide user support to your organization will have access to your iMaximize Social Security Account information (including your email and other data). Your domain administrator may be able to:
<ul>
<ul>
	<li>view statistics regarding your account, like statistics regarding applications you install.</li>
	<li>change your account password.</li>
	<li>suspend or terminate your account access.</li>
	<li>access or retain information stored as part of your account.</li>
	<li>receive your account information in order to satisfy applicable law, regulation, legal process or enforceable governmental request.</li>
	<li>restrict your ability to delete or edit information or privacy settings.</li>
</ul>
</ul>
Please refer to your domain administrator’s privacy policy for more information.
<ul>
	<li><b>For external processing</b></li>
</ul>
We provide personal information to our affiliates or other trusted businesses or persons to process it for us, based on our instructions and in compliance with our Privacy Policy and any other appropriate confidentiality and security measures.
<ul>
	<li><b>For legal reasons</b></li>
</ul>
We will share personal information with companies, organizations or individuals outside of iMaximize Social Security if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
<ul>
<ul>
	<li>meet any applicable law, regulation, legal process or enforceable governmental request.</li>
	<li>enforce applicable Terms of Service, including investigation of potential violations.</li>
	<li>detect, prevent, or otherwise address fraud, security or technical issues.</li>
	<li>protect against harm to the rights, property or safety of iMaximize Social Security Account, our users or the public as required or permitted by law.</li>
</ul>
</ul>
We may share aggregated, non-personally identifiable information publicly and with our partners – like publishers, advertisers or connected sites. For example, we may share information publicly to show trends about the general use of our services.

If iMaximize Social Security is involved in a merger, acquisition or asset sale, we will continue to ensure the confidentiality of any personal information and give affected users notice before personal information is transferred or becomes subject to a different privacy policy.

<b>Information security</b>

We work hard to protect iMaximize Social Security and our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold. In particular:
<ul>
	<li>We encrypt many of our services using SSL.</li>
	<li>We review our information collection, storage and processing practices, including physical security measures, to guard against unauthorized access to systems.</li>
	<li>We restrict access to personal information to FTE employees, contractors and agents who need to know that information in order to process it for us, and who are subject to strict contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.</li>
</ul>
<b>Application</b>

Our Privacy Policy does not apply to services offered by other companies or individuals, including sites that may include iMaximize Social Security services, or other sites linked from our services. Our Privacy Policy does not cover the information practices of other companies and organizations who advertise our services, and who may use cookies, pixel tags and other technologies to serve and offer relevant ads.

<b>Enforcement</b>

We regularly review our compliance with our Privacy Policy. When we receive formal written complaints, we will contact the person who made the complaint to follow up. We work with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that we cannot resolve with our users directly.

<b>Changes</b>

Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We will post any privacy policy changes on the <a href="http://www.imaximizesocialsecurity.com/">www.imaximizesocialsecurity.com</a> front page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of privacy policy changes).