
		<div class="main-container">
		<section class="product-right">
			
				<div class="background-image-holder">
					<img class="background-image" alt="Background Image" src="img/grey-bg.jpg">
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-5 col-sm-6">
							<h1>iMaximize is the Last Turn-Key Growth System You Will Ever Need.</h1>
							<p class="lead">
								Find Out if a Membership is Available in Your Area.</p>
							<a href="#" class="btn btn-primary">Learn More</a>
							<a href="#" class="btn btn-primary btn-filled">Try A Demo</a>
						</div>
					</div>
				</div>
				
				<div class="product-image" data-scroll-reveal="enter right and move 100px">
					<img alt="Product Image" src="img/ipad.png">
				</div>
			
			</section>
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 text-center">
							<img class="phone-portrait" alt="App Screenshot" src="img/ipad.png">
						</div>
					
						<div class="col-sm-6 align-vertical no-align-mobile clearfix">
							<div class="col-md-6 no-pad-left clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-speedometer icon-large"></i>
									<h6>Social Security Tool</h6>
									<p>
										Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
									</p>
								</div>
							</div>
						
							<div class="col-md-6 no-pad-left clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-presentation icon-large"></i>
									<h6>Track Cases and Prospects</h6>
									<p>
										Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
									</p>
								</div>
							</div>
						
							<div class="col-md-6 no-pad-left clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-download icon-large"></i>
									<h6>Turn-Key Growth Resource</h6>
									<p>
										Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
									</p>
								</div>
							</div><div class="col-md-6 no-pad-left clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-profile-female icon-large"></i>
									<h6>Training and Support</h6>
									<p>
										Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
									</p>
								</div>
							</div>
						
							
							
		
						</div>
					</div>
				
				</div>
			</section>
			
			<section class="duplicatable-content">
			
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1>Become a lean and mean Social Security selling machine</h1>
						</div>
					</div>
		
					<div class="row">
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-desktop icon-large"></i>
								</div>
								<div class="pull-right">
									<h5>Self-Paced 14 Day Course</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-tools-2 icon-large"></i>
								</div>
								<div class="pull-right">
									<h5>Master Critical Social Security Concepts</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-profile-female icon-large"></i>
								</div>
								<div class="pull-right">
									<h5>Instructor and Community Training Support</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-linegraph icon-large"></i>
								</div>
								<div class="pull-right">
									<h5>Learn Our Turn-Key Selling System</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			
			</section>
			
			<section class="timeline-1">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1>Our Unique Turn Key Selling System</h1>
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae. 
							</p>	
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<div class="timeline-event">
								<div class="col-sm-6 col-md-push-6">
									<h2>Become A Member</h2>
									<h5>Find Out if an Advisor Membership&nbsp;<span>is Available in Your Area</span></h5>
								</div>
								
								<div class="middle">
									<i class="icon icon-key icon-large"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6 col-md-pull-6">
									<p>
										iMaximize is a membership based system.&nbsp;</p>
								</div>
								
								
							</div>
							
							<div class="timeline-event">
								<div class="col-sm-6">
									<h2>Learn Critical Social Security Concepts</h2>
									<h5>Our first major client</h5>	
								</div>
								
								<div class="middle">
									<i class="icon icon-tools icon-large"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6">
									<p>
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
									</p>
									
								</div>
							</div>
							
							<div class="timeline-event">
								<div class="col-sm-6 col-md-push-6">
									<h2>Position Your Brand for Success</h2>
									<h5>Agency Of The Year</h5>
								</div>
								
								<div class="middle">
									<i class="icon icon-paintbrush icon-large"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6 col-md-pull-6">
									<p>
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
									</p>
								</div>
								
								
							</div>
							
							<div class="timeline-event">
								<div class="col-sm-6">
									<h2>Activate Your Repeatable Growth System</h2>
									<h5>Global Domination</h5>	
								</div>
								
								<div class="middle">
									<i class="icon icon-linegraph icon-large"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6">
									<p>
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
									</p>
									
								</div>
							</div>
							
						</div>
					</div>
					
		
				</div>
			</section>
			
			<section class="strip bg-secondary-1">
				<div class="container">
					<div class="row clearfix">
						<div class="col-sm-6 col-xs-12 pull-left">
							<h3 class="text-white"><span>Activate your iMaximize Pro Membership.</span></h3>
						</div>
						
						<div class="col-sm-4 col-xs-12 pull-right text-right">
							<a href="#" class="btn btn-primary btn-white">Join Today</a>
						</div>
					</div>
				</div>
			</section>
		</div>
		
